.is-primary {
  background: $primary;
  color: $primary-inverse;
}
.is-primary-dark {
  background: $primary-dark;
  color: $primary-dark-inverse;
}

.is-secondary {
  background: $secondary;
  color: $secondary-inverse;
}
.is-secondary-dark {
  background: $secondary-dark;
  color: $secondary-dark-inverse;
}

.is-tertiary {
  background: $tertiary;
  color: $tertiary-inverse;
}
.is-tertiary-dark {
  background: $tertiary-dark;
  color: $tertiary-dark-inverse;
}

.is-grey {
  background: $grey;
  color: $grey-inverse;
}
.is-grey-dark {
  background: $grey-dark;
  color: $grey-dark-inverse;
}
.is-grey-light {
  background: $grey-light;
  color: $grey-light-inverse;
}
.is-grey-extra-light {
  background: $grey-extra-light;
  color: $grey-extra-light-inverse;
}
