
/**
 * Colours
 */
$primary: #ce0000 !default;
$primary_dark: darken($primary, 8%) !default;
$primary_light: lighten($primary, 15%) !default;

$secondary: #003048 !default;
$secondary_dark: darken($secondary, 8%) !default;

$tertiary: #58dbe8 !default;
$tertiary_dark: darken($tertiary, 8%) !default;

$grey_base: #2c2c2c;
$grey: lighten($grey_base, 10%) !default;
$grey_dark: $grey_base !default;
$grey_light: lighten($grey_base, 50%) !default;
$grey_extra_light: lighten($grey_base, 70%) !default;

$black: #333 !default;
$white: #fff !default;

$success: #509E2F !default;
$success_dark: #3F7E2f !default;
$success_light: #DCECD5 !default;

$error: #BA1D2F !default;
$error_dark: #8E1624 !default;
$error_light: #F2D1D5 !default;

$warning: #E97500 !default;
$warning_dark: #C66300 !default;
$warning_light: #FBE3CC !default;

// Inverted Colours (Text application)
$primary_inverse: $white !default;
$primary_dark_inverse: $white !default;

$secondary_inverse: $white !default;
$secondary_dark_inverse: $white !default;

$tertiary_inverse: $white !default;
$tertiary_dark_inverse: $white !default;

$grey_inverse: $white !default;
$grey_dark_inverse: $white !default;
$grey_light_inverse: $black !default;
$grey_extra_light_inverse: $black !default;

$success_inverse: $white !default;
$success_dark_inverse: $white !default;
$success_light_inverse: $black !default;

$error_inverse: $white !default;
$error_dark_inverse: $white !default;
$error_light_inverse: $black !default;

$warning_inverse: $white !default;
$warning_dark_inverse: $white !default;
$warning_light_inverse: $black !default;

$font_colour_base: $black !default;
$font_colour_light: $white !default;
$link_colour: $primary !default;
$link_colour_hover: $primary_dark !default;

$background: $white !default; // The body background

/**
 * Typography
 */
$font_family_base: 'Lato', arial !default;
$font_weight_base: 400 !default;
$font_weight_bold: 700 !default;
$font_weight_light: 300 !default;
$font_size_base: 14px !default;
$font_margin_bottom: 1.5rem !default;
$font_line_height: 1.5 !default;

$font_size_h1: 45px !default;
$font_weight_h1: $font_weight_bold !default;
$font_colour_h1: $grey_dark !default;

$font_size_h2: 34px !default;
$font_weight_h2: $font_weight_base !default;
$font_colour_h2: $grey_dark !default;

$font_size_h3: 18px !default;
$font_weight_h3: $font_weight_base !default;
$font_colour_h3: $grey_dark !default;

$font_size_h4: 16px !default;
$font_weight_h4: $font_weight_bold !default;
$font_colour_h4: $grey_dark !default;

$font_size_h5: 14px !default;
$font_weight_h5: $font_weight_bold !default;
$font_colour_h5: $grey_dark !default;

$font_size_h6:  12px !default;
$font_weight_h6: $font_weight_bold !default;
$font_colour_h6: $grey !default;

/**
 * Formatting & Structure
 */
$spacing: 1.3rem !default;
$spacing_lg: 2 * $spacing !default;
$spacing_md: 1.5 * $spacing !default;
$spacing_sm: 0.5 * $spacing !default;
$spacing_xs: 0.3 * $spacing !default;

$radius: 4px !default;

$break_sm: 768px !default;
$break_md: 998px !default;
$break_lg: 1200px !default;

$mobile: "only screen and (max-width: 480px)" !default;
$tablet: "only screen and (max-width: 768px)" !default;
$desktop: "only screen and (max-width: 1200px)" !default;

$container: 1100px !default;
$container_sm: 800px !default;

$modal_z: 2000 !default;
$dropdown_z: 900 !default;
