$color-butter: #fedc3d;
$color-black: #191919;
$color-azure: #01abaa;
$color-peach: #fea680;
$color-mandarin: #ec2145;
$color-lime: #c7c12f;
$color-parchment: #fff8d7;
$color-brigade: #7c8f79;

$space: 2em;

$break-xs: 480px;
$break-sm: 768px;
$break-md: 998px;
$break-lg: 1200px;
